[Unit]
Description=Run market scanner every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
RandomizedDelaySec=4min
Persistent=true
Unit=market-scanner.service

[Install]
WantedBy=timers.target
